body {
  background-color: rgb(95, 43, 95);
}

/* -------------------------------------------------- */

.buttonLogin {
  /*LOGIN*/
  background-color: #07a70c; /* Green */ /*цвет кнопки*/
  border: 2px solid #b7c2b7; /*размер и цвет рамки*/
  color: rgb(59, 51, 51); /*цвет текста */
  padding: 5px 120px; /*заполнение? размеры кнопки*/
  letter-spacing: 2px;
  margin-left: 15px;
  text-align: center; /*расположение текста */
  border-radius: 8px; /*закругление кнопки*/
  font-size: 22px; /*размер текста*/
}

/* движение стрелки на кнопке при наведении */
.buttonLogin span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttonLogin span:after {
  content: "\27A0";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/* движение кнопки при наведении */
.buttonLogin:hover span {
  padding-right: 25px;
}
.buttonLogin:hover span:after {
  opacity: 1;
  right: 0;
}

/*кнопка прыгает при нажатии*/
/* .buttonCreate:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} */

/*   изменение цвета кнопки при наведении мыши и тень*/
.buttonLogin:hover {
  background-color: #19d31f;
  box-shadow: 0 12px 16px 0 rgba(87, 238, 27, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* ---------------------------------------------- */

.buttonRegistration {
  /*REGISTRATION*/
  background-color: #0650a5; /* Green */ /*цвет кнопки*/
  border: 2px solid #b7c2b7; /*размер и цвет рамки*/
  color: rgb(59, 51, 51); /*цвет текста */
  padding: 5px 40px; /*заполнение? размеры кнопки*/
  border-radius: 8px; /*закругление кнопки*/
  font-size: 22px; /*размер текста*/
  margin-left: 1%;
  margin-top: 15px;
}
/*   изменение цвета кнопки при наведении мыши и тень*/
.buttonRegistration:hover {
  background-color: #3f88e7;
  box-shadow: 0 12px 16px 0 rgba(9, 152, 196, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/*   изменение цвета кнопки при наведении мыши и тень*/
.buttonRegistration:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.buttonRegistration span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttonRegistration span:after {
  content: "\27A0";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/* движение кнопки при наведении */
.buttonRegistration:hover span {
  padding-right: 25px;
}
.buttonRegistration:hover span:after {
  opacity: 1;
  right: 0;
}

/* ------------------------------------------------------ */

.buttonRemoveUser {
  /*REMOVE_USER*/
  background-color: #ee5d5d; /* Green */ /*цвет кнопки*/
  border: 2px solid #b7c2b7; /*размер и цвет рамки*/
  color: rgb(59, 51, 51); /*цвет текста */
  padding: 5px 30px; /*заполнение? размеры кнопки*/
  border-radius: 8px; /*закругление кнопки*/
  font-size: 18px; /*размер текста*/
  margin-top: 10%;
  margin-left: 1%;
}
/*   изменение цвета кнопки при наведении мыши и тень*/
.buttonRemoveUser:hover {
  background-color: #fd0a0a;
  box-shadow: 0 12px 16px 0 rgba(240, 7, 7, 0.24),
    0 17px 50px 0 rgba(241, 12, 12, 0.19);
}
/*кнопка прыгает при нажатии*/
.buttonRemoveUser:active {
  background-color: #fd0a0a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* ------------------------------------------------------ */

.buttonCreateChild {
  /*CREATE_CHILD*/
  background-color: #127c08; /* Green */ /*цвет кнопки*/
  border: 2px solid #b7c2b7; /*размер и цвет рамки*/
  color: rgb(59, 51, 51); /*цвет текста */
  padding: 4px 30px; /*заполнение? размеры кнопки*/
  border-radius: 8px; /*закругление кнопки*/
  font-size: 19px; /*размер текста*/
  margin-left: 1%;
  margin-top: 15px;
}
/*   изменение цвета кнопки при наведении мыши и тень*/
.buttonCreateChild:hover {
  background-color: #32f019;
  box-shadow: 0 12px 16px 0 rgba(33, 233, 15, 0.24),
    0 17px 50px 0 rgba(92, 240, 7, 0.19);
}
/*   изменение цвета кнопки при наведении мыши и тень*/
.buttonCreateChild:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.buttonCreateChild span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttonCreateChild span:after {
  content: "\279C";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

/* движение кнопки при наведении */
.buttonCreateChild:hover span {
  padding-right: 25px;
}
.buttonCreateChild:hover span:after {
  opacity: 1;
  right: 0;
}

/* ---------------------------------------------------- */

.buttonLogout {
  /*LOGOUT*/
  background-color: #a2a5a2; /* Green */ /*цвет кнопки*/
  border: 2px solid #b7c2b7; /*размер и цвет рамки*/
  color: rgb(59, 51, 51); /*цвет текста */
  padding: 3px 20px; /*заполнение? размеры кнопки*/
  margin-left: 15px;
  border-radius: 8px; /*закругление кнопки*/
  font-size: 18px; /*размер текста*/
  margin-left: 90%;
}
/*   изменение цвета кнопки при наведении мыши и тень*/
.buttonLogout:hover {
  background-color: #fd0a0a;
  box-shadow: 0 12px 16px 0 rgba(248, 14, 14, 0.24),
    0 17px 50px 0 rgba(241, 10, 10, 0.19);
}
/*кнопка прыгает при нажатии*/
.buttonLogout:active {
  background-color: #fd0a0a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* --------------------------------------------------- */

.buttonRemoveChild {
  /*REMOVE_CHILD*/
  background-color: #ee5d5d; /* Green */ /*цвет кнопки*/
  border: 2px solid #b7c2b7; /*размер и цвет рамки*/
  color: rgb(59, 51, 51); /*цвет текста */
  padding: 5px 20px; /*заполнение? размеры кнопки*/
  border-radius: 8px; /*закругление кнопки*/
  font-size: 14px; /*размер текста*/
  margin-top: 10px;
}
/*   изменение цвета кнопки при наведении мыши и тень*/
.buttonRemoveChild:hover {
  background-color: #fd0a0a;
  box-shadow: 0 12px 16px 0 rgba(240, 7, 7, 0.24),
    0 17px 50px 0 rgba(241, 12, 12, 0.19);
}
/*кнопка прыгает при нажатии*/
.buttonRemoveChild:active {
  background-color: #fd0a0a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* --------------------------------------------------- */

.buttonMore {
  /*MORE*/
  background-color: #e7f1e7; /* Green */ /*цвет кнопки*/
  border: 2px solid #b7c2b7; /*размер и цвет рамки*/
  color: rgb(59, 51, 51); /*цвет текста */
  padding: 5px 30px; /*заполнение? размеры кнопки*/
  text-align: center; /*расположение текста */
  border-radius: 8px; /*закругление кнопки*/
  font-size: 14px; /*размер текста*/
  margin-right: 100px;
}

/* движение стрелки на кнопке при наведении */
.buttonMore span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttonMore span:after {
  content: "\279E";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/* движение кнопки при наведении */
.buttonMore:hover span {
  padding-right: 25px;
}
.buttonMore:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonMore:hover {
  background-color: #eeebeb;
  box-shadow: 0 10px 12px 0 rgba(221, 209, 209, 0.24),
    0 17px 50px 0 rgba(228, 219, 219, 0.19);
}

/* ---------------------------------------------- */

.buttonCreate {
  /*CREATE (OPEN CHILD)*/
  background-color: #185a18; /* Green */ /*цвет кнопки*/
  border: 2px solid #b7c2b7; /*размер и цвет рамки*/
  color: rgb(59, 51, 51); /*цвет текста */
  padding: 4px 25px; /*заполнение? размеры кнопки*/
  border-radius: 8px; /*закругление кнопки*/
  font-size: 20px; /*размер текста*/
  margin-left: 1%;
  margin-top: 15px;
}
/*   изменение цвета кнопки при наведении мыши и тень*/
.buttonCreate:hover {
  background-color: #1efd0a;
  box-shadow: 0 12px 16px 0 rgba(118, 238, 6, 0.24),
    0 17px 50px 0 rgba(48, 241, 10, 0.19);
}
/*кнопка прыгает при нажатии*/
.buttonCreate:active {
  background-color: #4ffd0a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* --------------------------------------------------- */

.buttonReturn {
  /*RETURN*/
  background-color: #a2a5a2; /* Green */ /*цвет кнопки*/
  border: 2px solid #b7c2b7; /*размер и цвет рамки*/
  color: rgb(59, 51, 51); /*цвет текста */
  padding: 3px 20px; /*заполнение? размеры кнопки*/
  margin-left: 15px;
  border-radius: 8px; /*закругление кнопки*/
  font-size: 18px; /*размер текста*/
  margin-left: 1%;
}
/*   изменение цвета кнопки при наведении мыши и тень*/

.buttonReturn:hover {
  background-color: #eeebeb;
  box-shadow: 0 10px 12px 0 rgba(221, 209, 209, 0.24),
    0 17px 50px 0 rgba(228, 219, 219, 0.19);
}
/* движение стрелки на кнопке при наведении */
.buttonReturn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttonReturn span:after {
  content: "\00ab";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -80px;
  transition: 0.5s;
}

/* движение кнопки при наведении */
.buttonReturn:hover span {
  padding-left: 25px;
}
.buttonReturn:hover span:after {
  opacity: 1;
  right: 0;
}

/* --------------------------------------------------- */

.buttonCreateTask {
  /*CREATE_TASK*/
  background-color: #157c3d; /* Green */ /*цвет кнопки*/
  border: 2px solid #b7c2b7; /*размер и цвет рамки*/
  color: rgb(59, 51, 51); /*цвет текста */
  padding: 5px 40px; /*заполнение? размеры кнопки*/
  border-radius: 8px; /*закругление кнопки*/
  font-size: 20px; /*размер текста*/
  margin-left: 1%;
  margin-top: 15px;
}
/*   изменение цвета кнопки при наведении мыши и тень*/
.buttonCreateTask:hover {
  background-color: #09f128;
  box-shadow: 0 12px 16px 0 rgba(9, 241, 21, 0.24),
    0 17px 50px 0 rgba(56, 233, 12, 0.19);
}
/*   изменение цвета кнопки при наведении мыши и тень*/
.buttonCreateTask:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonCreateTask span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttonCreateTask span:after {
  content: "\279C";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

/* движение кнопки при наведении */
.buttonCreateTask:hover span {
  padding-right: 25px;
}
.buttonCreateTask:hover span:after {
  opacity: 1;
  right: 0;
}

/* АВТОРИЗАЦИЯ */
.login_password_text {
  letter-spacing: 3px; /*отступ между буквами*/
  font-style: oblique; /*стиль шрифта*/
  font-size: 25px; /* размер букв */
  color: rgb(111, 116, 129); /*   цвет букв */
  text-decoration: underline; /*подчёркивание */
}

.password_table {
  background-color: rgb(55, 11, 56);
  border: 1px solid #b7c2b7;
  width: 500px;
  height: 26px;
  padding-left: 55px;
  padding-top: 17px;
  padding-bottom: 30px;
  border-radius: 8px;
  margin: 15px;
}

.login_table {
  background-color: rgb(55, 11, 56);
  border: 1px solid #b7c2b7;
  width: 440px;
  height: 26px;
  padding-left: 114px;
  padding-top: 17px;
  padding-bottom: 30px;
  border-radius: 8px;
  margin: 15px;
}
.name_table {
  background-color: rgb(55, 11, 56);
  border: 1px solid #b7c2b7;
  width: 428px;
  height: 26px;
  padding-left: 126px;
  padding-top: 17px;
  padding-bottom: 30px;
  border-radius: 8px;
  margin: 15px;
}
/* new task create tables */
.title_table {
  background-color: rgb(55, 11, 56);
  border: 1px solid #b7c2b7;
  width: 481px;
  height: 26px;
  padding-left: 74px;
  padding-top: 17px;
  padding-bottom: 30px;
  border-radius: 8px;
  margin: 15px;
}

.text_table {
  background-color: rgb(55, 11, 56);
  border: 1px solid #b7c2b7;
  width: 468px;
  height: 26px;
  padding-left: 88px;
  padding-top: 17px;
  padding-bottom: 30px;
  border-radius: 8px;
  margin: 15px;
}
.status_table {
  background-color: rgb(55, 11, 56);
  border: 1px solid #b7c2b7;
  width: 500px;
  height: 26px;
  padding-left: 55px;
  padding-top: 17px;
  padding-bottom: 30px;
  border-radius: 8px;
  margin: 15px;
}
/* отображение тасков */

.all_tasks_table {
  background-color: rgb(55, 11, 56);
  width: 93%;
  border: 1px solid #b7c2b7;
  height: 100%;
  padding-left: 50px;
  padding-top: 17px;
  padding-bottom: 30px;
  border-radius: 8px;
}

.every_task_table {
  background-color: rgb(35, 3, 36);
  width: 87%;
  border: 1px solid #b7c2b7;
  height: 100%;
  margin-left: 0%;
  padding-left: 50px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 8px;
  margin: 15px;
}

.input_login_password {
  width: 250px;
  height: 33px;
  border-radius: 8px;
}

/* ---------------------------------------------------- */

/* отображение детей */
.children_table {
  background-color: rgb(55, 11, 56);
  width: 93%;
  border: 1px solid #b7c2b7;
  height: 100%;
  padding-left: 50px;
  padding-top: 17px;
  padding-bottom: 30px;
  border-radius: 8px;
}

.every_child_table {
  background-color: rgb(35, 3, 36);
  width: 87%;
  border: 1px solid #b7c2b7;
  height: 100%;
  margin-left: 0%;
  padding-left: 50px;
  padding-top: 17px;
  padding-bottom: 30px;
  border-radius: 8px;
  margin: 15px;
}

.child_name {
  letter-spacing: 3px; /*отступ между буквами*/
  font-style: normal; /*стиль шрифта*/
  font-size: 35px; /* размер букв */
  color: rgb(241, 151, 14); /*   цвет букв */
}

.you {
  letter-spacing: 1px; /*отступ между буквами*/
  text-shadow: 2px 2px rgb(55, 11, 56);
  font-style: normal; /*стиль шрифта*/
  font-size: 20px; /* размер букв */
  color: rgb(175, 179, 189); /*   цвет букв */
}

.name {
  letter-spacing: 3px; /*отступ между буквами*/
  font-style: normal; /*стиль шрифта*/
  font-size: 45px; /* размер букв */
  color: rgb(241, 151, 14); /*   цвет букв */
  margin-left: 5px;
}

.title_status_text {
  letter-spacing: 3px; /*отступ между буквами*/
  font-style: normal; /*стиль шрифта*/
  font-size: 30px; /* размер букв */
  color: rgb(241, 151, 14); /*   цвет букв */
}

.text_of_open_task {
  letter-spacing: 2px; /*отступ между буквами*/
  font-style: normal; /*стиль шрифта*/
  font-size: 30px; /* размер букв */
  color: rgb(175, 179, 189); /*   цвет букв */
}

.no_task {
  letter-spacing: 2px; /*отступ между буквами*/
  font-style: normal; /*стиль шрифта*/
  font-size: 30px; /* размер букв */
  color: rgb(175, 179, 189); /*   цвет букв */
}

.no_task_table {
  background-color: rgb(55, 11, 56);
  width: 70%;
  border: 1px solid #b7c2b7;
  height: 100%;
  padding-left: 400px;
  padding-top: 17px;
  padding-bottom: 30px;
  border-radius: 8px;
}
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

.task_text {
  letter-spacing: 2px; /*отступ между буквами*/
  font-style: normal; /*стиль шрифта*/
  font-size: 30px; /* размер букв */
  color: rgb(175, 179, 189); /*   цвет букв */
}

/* заголовок */
.task_list_label {
  text-shadow: 3px 2px rgb(55, 11, 56);
  font-size: 55px;
  color: #a2a5a2;
  text-decoration: underline;
}

/* ------------------------------------------------- */

/* ------------------------------------------------- */

/* ----------------------------------------------------------- */

.open_task_table {
  background-color: rgb(55, 11, 56);
  width: 93%;
  height: 100%;
  padding-left: 50px;
  padding-top: 17px;
  padding-bottom: 30px;
  border-radius: 8px;
  margin: 15px;
}

.open_task_title_status {
  letter-spacing: 3px; /*отступ между буквами*/
  font-style: oblique; /*стиль шрифта*/
  font-size: 30px; /* размер букв */
  color: rgb(241, 151, 14); /*   цвет букв */
  line-height: 1.8;
}

.open_task_text {
  letter-spacing: 2px; /*отступ между буквами*/
  font-style: oblique; /*стиль шрифта*/
  font-size: 30px; /* размер букв */
  color: rgb(241, 151, 14); /*   цвет букв */
}

.open_task_input_table {
  background-color: rgb(35, 3, 36);
  width: 190px;
  height: 45px;
  margin-left: 75%;
  padding-left: 50px;
  padding-bottom: 10px;
  padding-top: 20px;
  border-radius: 8px;
}

/* --------------------------------------------------- */
